/*  ---------------------------------------------------------------------
    General
    --------------------------------------------------------------------- */
body{
    margin:0px;
    padding: 0px;
    font-family:  "Source Sans Pro", Arial, Helvetica, sans-serif;
}

/* -----------------------------------------------------
    Navbar
    ----------------------------------------------------- */
.top-page{
    position: fixed;
    z-index: 10;
    width: 100%;
}
.navbar{
    background-color: #1f4954;
    color: aliceblue;
    z-index: 10;
}
.navbar-brand{
    color:aliceblue;
    font-weight: bold;
}
a{
    margin: auto 20px;
    color: #80bece;
    float: rights;
    font-size: 14px;
    text-transform:uppercase;
}
a:hover{
    color: #3e6c78;
}
.custom-toggler.navbar-toggler {
    border-color: aliceblue;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240,248,255,0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#navbarNav{
    justify-content: flex-end;
}

.current>a{
    color: aliceblue;
    font-weight: bold;
}
.current>a:hover{
    color:aliceblue;
}

/* -----------------------------------------------------
    Others and title
    ----------------------------------------------------- */
.adorno1{
    width: 100%;
    height: 10px;
    background-color: #3e6c78;
    z-index: 10;
}
.adorno2{
    width: 100%;
    height: 5px;
    background-color: #3e6c78;
    position: fixed;
    bottom: 0;  
    z-index: 10;  
}
.title-section{
    position: relative;
    top:150px;
}
@media (max-width: 767.98px) { 
    .title-section{
        position: relative;
        top:100px;
    }
}

@media (max-height: 800px) { 
    .title-section{
        position: relative;
        top:100px;
    }
}
hr.star-primary {
    padding: 0;
    border-top: solid 5px;
    border-color: #1f4954;
    text-align: center;
    max-width: 270px;
    margin: 15px auto 30px;
    background-color: #80bece;
}

.nav-header
{
    width:100%;
    margin:0 auto;
    font-size:2em;
    text-transform:uppercase;
    letter-spacing:0.1em;
    font-weight:bold;
    text-align: center;
    justify-content: center;
}
.link-text{
    font-weight:bold;
    text-transform: none;
    margin: auto;
    color: #80bece;
    font-size: 16px;
    margin: 0 4px;
}
/* -----------------------------------------------------
    About
    ----------------------------------------------------- */
.about{
    position: relative; 
    top:200px;
}

@media (max-width: 767.98px) { 
    .about{
        position: relative; 
        top:120px;
    }
}
/* -----------------------------------------------------
    Skills
    ----------------------------------------------------- */
.progress .progress-bar {
    background-color: #80bece;
    position: relative;
    border-radius: 4px;
}

.skills{
    position: relative; 
    top:200px;
}
.skill{
    margin: 10px;
}
.skill>h3{
    font-size: 15px;
    color:#3e6c78;
}
.group-skill{
    padding: 20px;
    border: solid 1px;
    border-color: #1f4954;
    margin: 5px;
}

@media (max-width: 767.98px) { 
    .group-skill{
        position: relative; 
        top:-70px;
    }
}
@media (max-height: 800px) { 
    .group-skill{
        position: relative; 
        top:-60px;
    }
}
@media (min-height: 1000px) { 
    .group-skill{
        width: 100%;
    }
}

/* -----------------------------------------------------
    Resume
    ----------------------------------------------------- */
.resume{
    position: relative; 
    top:90px;
    z-index: 1;   
 }
 .resume-text{
    position: relative; 
    top:10px; 
    font-weight: bold;  
 }
 .pdf{
     margin-bottom: 25px;
 }
 .to-back{
     z-index: -1;
 }
 .resume>a{
    font-family:  "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 100px;
    background-color: #3e6c78;
    justify-content: center;
    text-align: center;
    color: #80bece;
    border-radius: 5%;
}
.resume>a:hover{
    color: #1f4954;
}
/* -----------------------------------------------------
    Hobbies
    ----------------------------------------------------- */
.hobbies{
    position: relative; 
    top:100px;
}
.carousel{
    width: 500px;
}

.car-section{
    position: relative;
    top: 100px;
    margin: 5px;
}
.carousel-caption{
    background-color: rgba(128,128,128, 0.4)
}

/* -----------------------------------------------------
    Contact
    ----------------------------------------------------- */
.contact{
    position: relative; 
    top:200px;    
}
.margen{
    margin: 15px;
}
@media (max-height: 800px) { 
    .contact{
        position: relative; 
        top:100px;
    }
}